* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0B2434;
    padding: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #F5F5F5;
    border-radius: 10px;
    /* width: 320px;*/
    height: 320px;  
    /* height: 85vh; */
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 4px;
}


.main--field {
    width: 251px;
    height: 253px;
    
}

.boxes--field {
    margin-top: 20px;
    width: 251px;
    height: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 18px;
    
    row-gap: 1em;
    row-gap: 18px;
}

.box {
    padding-top: 6px;
    width: 35.84px;
    height: 35.84px;
    background: #59E391;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 3.81277px;
    font-family: 'Karla';
    font-weight: 700;
    font-size: 20.5889px;
    line-height: 24px;
    text-align: center;
    color: #2B283A;

}


button {
    width: 92.16px;
    height: 35.84px;
    color: #FFFFFF;
    background: #5035FF;
    box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
    border-radius: 3.81277px;
    border: none;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 16.384px;
    line-height: 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}




/* Instructions on how to play the game and other things.

position: absolute;
left: 0%;
right: 0%;
top: -28.7%;
bottom: -24.36%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13.1072px;
line-height: 16px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.03em;

color: #4A4E74;

 */

/* Group 45

position: absolute;
width: 35.84px;
height: 35.84px;
left: 34.56px;
top: 134.4px;

background: #59E391;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
border-radius: 3.81277px;


*/



/* 1 

position: absolute;
left: 40.43%;
right: 40.43%;
top: 17.86%;
bottom: 27.43%;

font-family: 'Karla';
font-style: normal;
font-weight: 700;
font-size: 20.5889px;
line-height: 24px;
text-align: center;

color: #2B283A;

*/

/* Group 49 

position: absolute;
width: 35.84px;
height: 35.84px;
left: 142.08px;
top: 134.4px;
*/


/* Rectangle 2 

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #59E391;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
border-radius: 3.81277px;
*/

/* 1 

position: absolute;
left: 40.43%;
right: 40.43%;
top: 17.86%;
bottom: 27.43%;

font-family: 'Karla';
font-style: normal;
font-weight: 700;
font-size: 20.5889px;
line-height: 24px;
text-align: center;

color: #2B283A;

*/

/* Group 50 

position: absolute;
width: 35.84px;
height: 35.84px;
left: 142.08px;
top: 188.8px;
*/


/* Rectangle 2 

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
border-radius: 3.81277px;
*/

/* 1 

position: absolute;
left: 40.43%;
right: 40.43%;
top: 17.86%;
bottom: 27.43%;

font-family: 'Karla';
font-style: normal;
font-weight: 700;
font-size: 20.5889px;
line-height: 24px;
text-align: center;

color: #2B283A;
*/


/* Group 51 

position: absolute;
width: 35.84px;
height: 35.84px;
left: 195.84px;
top: 134.4px;
*/


/* Rectangle 2 

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
border-radius: 3.81277px;
*/

/* 1 

position: absolute;
left: 40.43%;
right: 40.43%;
top: 17.86%;
bottom: 27.43%;

font-family: 'Karla';
font-style: normal;
font-weight: 700;
font-size: 20.5889px;
line-height: 24px;
text-align: center;

color: #2B283A;
*/


/* Group 52 

position: absolute;
width: 35.84px;
height: 35.84px;
left: 195.84px;
top: 188.8px;
*/


/* Rectangle 2 

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
border-radius: 3.81277px;

*/
/* 1 

position: absolute;
left: 40.43%;
right: 40.43%;
top: 17.86%;
bottom: 27.43%;

font-family: 'Karla';
font-style: normal;
font-weight: 700;
font-size: 20.5889px;
line-height: 24px;
text-align: center;

color: #2B283A;
*/


/* Group 53 

position: absolute;
width: 35.84px;
height: 35.84px;
left: 249.6px;
top: 134.4px;
*/


/* Rectangle 2 

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
border-radius: 3.81277px;
*/

/* 1 

position: absolute;
left: 40.43%;
right: 40.43%;
top: 17.86%;
bottom: 27.43%;

font-family: 'Karla';
font-style: normal;
font-weight: 700;
font-size: 20.5889px;
line-height: 24px;
text-align: center;

color: #2B283A;

*/

/* Group 54 

position: absolute;
width: 35.84px;
height: 35.84px;
left: 249.6px;
top: 188.8px;

*/

/* Rectangle 2

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #59E391;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
border-radius: 3.81277px;

 */
/* 1 

position: absolute;
left: 40.43%;
right: 40.43%;
top: 17.86%;
bottom: 27.43%;

font-family: 'Karla';
font-style: normal;
font-weight: 700;
font-size: 20.5889px;
line-height: 24px;
text-align: center;

color: #2B283A;

*/

.main--title {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 25.6px;
    line-height: 30px;
    letter-spacing: -0.03em;
    color: #2B283A;
    margin: 0;
    padding-top: 33.2px;
}

.main--text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13.1072px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.03em;
    color: #4A4E74;
    margin: 0;
    padding: 0;
}

